/* styles.css */

QWidget {
    background-color: #c5e1a5; /* Pastel green background for all widgets */
}

QPushButton {
    background-color: #aed581; /* Lighter pastel green for buttons */
    border: 1px solid #aed581;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff; /* White text color */
}

QLabel {
    color: #4caf50; /* Darker pastel green for labels */
    font-size: 16px;
}

QGroupBox {
    border: 2px solid #aed581;
    border-radius: 5px;
    margin-top: 10px;
}

QRadioButton {
    color: #4caf50; /* Darker pastel green for radio buttons */
}

QRadioButton::indicator {
    width: 20px; /* Set the width of the radio button */
    height: 20px; /* Set the height of the radio button */
    border: 2px solid #4caf50; /* Border color for the radio button */
    border-radius: 50%; /* Make the radio button circular */
    background-color: #aed581; /* Background color for the radio button */
}

QRadioButton::indicator:checked {
    background-color: #4caf50; /* Change background color when radio button is checked */
    border: 2px solid #4caf50; /* Change border color when radio button is checked */
}

QCheckBox {
    color: #4caf50; /* Darker pastel green for check boxes */
}

QStackedWidget {
    background-color: #c5e1a5; /* Set the background color for the stacked widget */
}

/* styles.css */


QSlider::groove:horizontal {
    height: 8px; /* Set the height of the groove */
    background: #aed581; /* Darker green color for the groove */
    border-radius: 4px; /* Rounded corners for the groove */
}

QSlider::handle:horizontal {
    width: 16px; /* Set the width of the handle */
    height: 16px; /* Set the height of the handle */
    background: #4caf50; /* Dark green color for the handle */
    border-radius: 8px; /* Rounded corners for the handle */
}

QSlider::sub-page:horizontal {
    background: #4caf50; /* Dark green color for the filled portion of the groove */
}
