/* styles.css */

QWidget {
    background-color: #ffffff; /* White background for all widgets */
}

QPushButton {
    background-color: #aed581; /* Lighter pastel green for buttons */
    border: 1px solid #aed581;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: #ffffff; /* White text color */
    font-family: 'Georgia', serif; /* Georgia font for buttons */
}

QLabel {
    font-size: 16px; /* Increase font size for all labels */
}

#mainLabel {
    font-size: 36px; /* Increase font size for the main label */
    text-align: center; /* Center text alignment */
    color: #4caf50; /* Darker pastel green for the main label */
    font-family: 'Georgia', serif; /* Georgia font for the main label */
}

#categoryLabel {
    font-family: 'Georgia', serif; /* Georgia font for category labels */
}

QGroupBox {
    border: 2px solid #aed581;
    border-radius: 5px;
    margin-top: 10px;
}

QRadioButton,
QCheckBox {
    color: #4caf50; /* Darker pastel green for radio buttons and check boxes */
}

QRadioButton::indicator,
QCheckBox::indicator {
    width: 20px; /* Set the width of the radio button and checkbox */
    height: 20px; /* Set the height of the radio button and checkbox */
    border: 2px solid #4caf50; /* Border color for the radio button and checkbox */
    border-radius: 50%; /* Make the radio button and checkbox circular */
    background-color: #aed581; /* Background color for the radio button and checkbox */
}

QRadioButton::indicator:checked,
QCheckBox::indicator:checked {
    background-color: #4caf50; /* Change background color when radio button and checkbox are checked */
    border: 2px solid #4caf50; /* Change border color when radio button and checkbox are checked */
}

QStackedWidget {
    background-color: #ffffff; /* Set the background color for the stacked widget */
}

QSlider::groove:horizontal {
    height: 8px; /* Set the height of the groove */
    background: #aed581; /* Darker green color for the groove */
    border-radius: 4px; /* Rounded corners for the groove */
}

QSlider::handle:horizontal {
    width: 16px; /* Set the width of the handle */
    height: 16px; /* Set the height of the handle */
    background: #4caf50; /* Dark green color for the handle */
    border-radius: 8px; /* Rounded corners for the handle */
}

QSlider::sub-page:horizontal {
    background: #4caf50; /* Dark green color for the filled portion of the groove */
}

/* styles.css */
